html, body {
  margin: 0;
  padding: 0;
  font-family: 'Exo', sans-serif;
}

.intro {
  margin-left: 10%;
  margin-top: 10%;
  width: 50em;
}

.intro h1 {
  font-size: 3rem;
  letter-spacing: -1.5px;
  margin: 0;
}

.intro p {
  font-size: 2rem;
  line-height: 1.25em;
  margin-top: 20px;
}
